body {
    background-image: url("../images/AugustaNational.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #999900;
    font-family: fantasy;
    font-size: 1rem;
    text-shadow: 0 0 0.2em black;
    text-align: center;
}


.jumbotron {
    background-image: url("../images/Jumbtron.jpg");
    border-radius: 25px;
    box-shadow: 0 0 8px 8px white inset;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1rem;
    color: #003311;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 25%;
}

button:hover {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 25px;
}

#footer {
    position: absolute;
    bottom: 10%;
}